{
  "presets": [
    [
      "env"
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-decorators-legacy",
    "babel-plugin-add-module-exports",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
